<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

    <title>Admin Settings</title>
</head>
<body>
    <h1>ADMIN SETTINGS</h1>

    <h2>USER LIST</h2>

    <table class=userList>
        <tr>
            <th style="font-size: 1.5em;"><p>USER</p></th>
            <th style="font-size: 1.5em;"><p>ACCESS</p></th>
            <th></th>
        </tr>
        {% for user in user_list %}
            <tr>
                <th><p style="color: white;">{{ user.user }}</p></th>
                <th style="display: flex; align-items: center"><p style="color: red;">{{ user.access }}</p><form action="/change_permission" method="post"><button style="margin-left: 5px;">PRO-/DEMOTE</button><input hidden name="user_id" value="{{user.id}}"></form></th>
                <!-- TODO DELETE FUNCTION -->
                <th><form action="/delete_user" method="post"><button>DELETE</button><input hidden name="user_id" value="{{user.id}}"></form></th>
            </tr>
        {% endfor %}

    </table>

    <h2>CHAT KEY LIST</h2>
    <table class=userList>
        <tr>
            <th style="font-size: 1.5em;"><p>KEY</p></th>
            <th></th>
        </tr>
        {% for chat_key in chat_key_list %}
            <tr>
                <th><p style="color: white;">{{ chat_key.chatkey }}</p></th>
                <th><form action="/delete_chat_key" method="post"><button>DELETE</button><input hidden name="chat_key_id" value="{{chat_key.id}}"></form></th>
            </tr>
        {% endfor %}
    </table>
    
    <h2>CREATE CHAT KEY</h2>
    <button style="width: 50%;"><a href="/chat_key_manual">CREATE CHAT KEY BY HAND</a></button>

    <h1>EXIT SETTINGS</h1>
    <button style="width: 50%"><a href="/chat_key">BACK TO CHAT KEY SELECTION</a></button>

    <h1>LOG OUT</h1>
    <button style="width: 50%"><a href="/logout">LOG OUT</a></button>

</body>
</html>