<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

    <title>Chat</title>
</head>
<body>
    <h1>DEV-CHAT</h1>

    <form action="/insertusername" method="post">
        <input type="text" name="username" placeholder="Enter a username...">
    </form>


    <div class="chat">
        <p>
            {% for message in message_list %}
                <p>{{message.id}}, {{message.chatkey}}, {{message.user}}, {{message.text}}, {{message.timestamp}}</p>
            {% endfor %}
        </p>
        
    </div>
    


    <form action="/send" method="post">
        <input autofocus type="text" name="new_message" placeholder="Enter a new message...">
    </form>


</body>
</html>