<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

    <title>Create chat key</title>
</head>
<body>
    <h1>CREATE CHAT KEY</h1>

    <form action="/chat_key_manual" method="post">
        <input type="text" name="new_chat_key" placeholder="Enter a chat key...">
        <button>GO!</button>
    </form>

    {% for message in get_flashed_messages() %}
        <div style=""><p style="color: red;">{{ message }}</p></div>
    {% endfor %}

    <button style="width: 50%"><a href="/admin_settings">BACK TO ADMIN SETTINGS</a></button>
</body>
</html>