<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

    <title>Chat</title>
    <meta http-equiv="refresh" content="5" >
</head>
<body>
    <h2>CHAT-KEY: {{session['chat_key']}}</h2>
    <div id="chatElement" class="chat">
        <div>
            {% for message in message_list %}
                <div class="messageBox">
                    <p class="messageElement" style="color: grey; width: 20px;">{{message.id}}</p>
                    <p class="messageElement" style="color: grey; width: 60px;">{{message.chatkey}}</p>
                    <p class="messageElement" style="color: white;">{{message.user}}</p>
                    <p class="messageElement" style="color: grey;">at</p>
                    <p class="messageElement" style="color: grey;">{{message.timestamp}}</p>
                    <p class="messageElement" style="color: white;">-> </p>
                    <p class="messageElement" style="color: greenyellow;">{{message.text}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    

    <div class="footer">

        <form action="/send" method="post">
            <input autofocus type="text" name="new_message" placeholder="Enter a new message...">
        </form>
    
        <button style="width: 25%"><a href="/chat_key">EXIT CHAT</a></button>
        <button style="width: 25%"><a href="/logout">LOG OUT</a></button>
    
        <script>
            var myDiv = document.getElementById("chatElement");
            myDiv.scrollTop = myDiv.scrollHeight;   
        </script>

    </div>
    

</body>
</html>