<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
</head>
<body>
    <h1>DEV-CHAT</h1>

    <span>Click <a href="/login">here</a> to log in.</span>

    <form action="">

        <label for="room_key">room key</label>
        <input type="text" name="room key" placeholder="Enter a room key...">
        <br>
        <button type="submit">Go!</button>


    </form>
</body>
</html>