<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

    <title>Login</title>
</head>
<body>
    <h1>LOG-IN</h1>

    

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter a username...">
        <input type="password" name="password" placeholder="Enter password...">
        <button>GO!</button>
    </form>
    
    
    <button style="width: 50%"><a href="/create_user">CREATE USER</a></button>

    {% for message in get_flashed_messages() %}
        <div style=""><p style="color: red;">{{ message }}</p></div>
    {% endfor %}

</body>
</html>