@media screen and (max-width: 1280px) {
  .left {
    position: absolute;
    height: inherit;
    width: 100%;
    overflow-y: auto;
    text-align: center;
    padding: 5vh 5vw;
  }

  .table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 100%;
    margin-top: 10pt;
    margin-bottom: 10pt;
  }

  .container {
    position: absolute;
    height: calc(100vh - 58.5pt);
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margin-top: 5pt; */
  }

  .left::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  .left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  .left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .left::-webkit-scrollbar-thumb:hover {
    background: #FF9933;
  }
}

@media screen and (max-width: 900px) {
  .container {
    position: absolute;
    height: clac(100vh - 70pt);
    width: 100%;
    overflow-y: hidden;
    /* margin-top: 5pt; */
    /* top: 50pt; */
  }
}

@media screen and (min-width: 1280px) {
  .left {
    position: absolute;
    height: inherit;
    width: 100%;
    overflow-y: auto;
    text-align: center;
    padding: 5vh 5vw;
  }

  .table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 100%;
    margin-top: 10pt;
    margin-bottom: 10pt;
  }

  .container {
    position: absolute;
    height: calc(100vh - 58.5pt);
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .left::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  .left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  .left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .left::-webkit-scrollbar-thumb:hover {
    background: #FF9933;
  }
}

.inputDate {
  border: none;
  outline: none;
  width: auto;
}
