.chatBox::placeholder {
  color: #CCCCCC;
}

.chatBox:focus {
  outline: none;
}

.chatBox {
  background-color: #666666;
  width: max-content;
  border-radius: 0pt;
  width: 100%;
  font-size: 22pt;
  padding: 2pt;
  margin: 0;
}