html,
body {
  padding: 0;
  margin: 0;
  background-color: #1A1A1A;
  font-family: 'Montserrat', sans-serif;
  color: #D7BA7D;
  font-size: 20pt;
}

p {
  margin: 2pt;
}

h1 {
  color: #D7BA7D;
  font-size: 40pt;
  margin: 2pt;
}

a {
  color: inherit;
  text-decoration: underline;
}

input::placeholder {
  color: #CCCCCC;
}

input {
  width: 40%;
  font-size: 24pt;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-radius: 5pt;
  border-width: 2pt;
  border-color: #666666;
  padding: 10pt;
  margin: 2pt;
}

.error {
  background-color: darkred;
  text-align: center;
}

button {
  width: 40%;
  font-size: 24pt;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-radius: 5pt;
  border-width: 2pt;
  border-color: #FF9933;
  padding: 10pt;
  margin: 2pt;
}

img {
  width: 40%;
}

* {
  box-sizing: border-box;
}
