.logo {
    float: left;
    width: 50pt;
    height: 50pt;
    background: #666666(165, 4, 4);
    box-sizing: border-box;
    border: solid black 3px;
    
}
.name {
    float: left;
    width: auto;
    height: 50pt;
    padding: 10pt;
    background: #666666(39, 32, 104);
    box-sizing: border-box;
    border-right: solid black 3px;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    
}
.space {

    height: 50pt;
    padding: 10pt;
    
    background: #666666(39, 32, 104);
    box-sizing: border-box;
    border-right: solid black 3px;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    
    
}
.user {
    position: absolute;
    top:0;
    right:50pt;
    width: auto;
    height: 50pt;
    padding: 10pt;
    background: #666666(69, 219, 55);
    box-sizing: border-box;
    border: solid black 3px;
}
.exit {
    
    position: absolute;
    top:0;
    right:0;
    width: 50pt;
    height: 50pt;
    padding: 4px;
    background: #666666(69, 219, 55);
    box-sizing: border-box;
    border-right: solid black 3px;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    
}
.container {
   height: 50px;
}
