@media screen and (max-width: 900px) {
    
    .container {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
    .left {
        margin-top: 20pt;
        width: 100%;
        padding-left: 30pt;
        padding-right: 30pt;
    }
    
    
}
@media screen and (min-width: 900px) {
    .left {
        position: absolute;
        left: 0;
        top: 50pt;
        width: 40%;
        margin: 50pt;
    }
    
    .right {
        position: absolute;
        left: 50%;
        top: 50pt;
        height: 100%;
        width: 50%;
    }
    .container {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 1280px) {
.left {
    position: absolute;
    left: 0;
    top: 30pt;
    width: 40%;
    margin: 50pt;
}

.right {
    position: absolute;
    left: 50%;
    top: 50pt;
    height: 100%;
    width: 50%;
}

.container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

}

